body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  text-align: center;
  margin: 23px 0;
}

.profile-container {
  display: flex;
  align-items: center;
}

.text-container {
  margin-left: 23px;
}